<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnesssdemo">

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WalkActivity"
            android:label="@string/title_activity_walk"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ListExercises"></activity>
        <activity android:name=".DisplayExercise" />
        <activity
            android:name=".WeightManagementActivity"
            android:label="@string/title_activity_weight_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaterActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExcerciseActivity"
            android:label="@string/title_activity_excercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>